In [17]:
from scipy.sparse.linalg import svds
import pandas as pd
import numpy as np
import math
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
data = pd.read_excel('./printer_data (1).xlsx')
user_data = pd.read_excel('./user_data.xlsx')

In [29]:
data.head()

,상품명,productid,가격,keyword,productid.1,업종,근무자수,기본 급지용량,내구성
0,ApeosPort 2560,1,20000000,흑백 디지털 복합기 잉크젯 포토프린터 컬러 출력 복사 스캔 팩스 인쇄 ...,1,법,87,300,2
1,ApeosPort 3060,2,19500000,흑백 디지털 복합기 잉크젯 포토프린터 컬러 출력 복사 스캔 팩스 인쇄 ...,2,기타,23,1290,3
2,ApeosPort 3560,3,18900000,"흑백 디지털 복합기 잉크젯 컬러 출력 복사 스캔 인쇄 해상도: 4,800d...",3,교육,68,530,2
3,ApeosPort C2060,4,18711290,컬러 디지털 복합기 인쇄 복사 스캔 컬러 속도: 23ppm 흑백 속도: 2...,4,행정,25,1200,3
4,ApeosPort C2560,5,18299940,컬러 디지털 복합기 인쇄 복사 스캔 팩스 컬러 속도: 23ppm 흑백 속...,5,행정,96,1350,2

In [39]:
user_data.head()

   userid  업종  용지사용량  내구성  근무자 수        가격
0       1  건설   1503    1     33  14000000
1       2  병원   2036    1     41   7000000
2       3   법    123    1     85  14000000
3       4  병원    253    3     43  15000000
4       5   법    132    2     81   5000000

In [40]:
user_data=user_data.drop(['업종','용지사용량','내구성','가격'],axis=1)

In [42]:
data = data.drop(['가격','상품명','productid','keyword','업종','기본 급지용량','내구성'],axis=1)

In [44]:
data.head()

   productid.1  근무자수
0            1    87
1            2    23
2            3    68
3            4    25
4            5    96

In [45]:
user_data.head()

   userid  근무자 수
0       1     33
1       2     41
2       3     85
3       4     43
4       5     81

ValueError: Shape of passed values is (5901, 30), indices imply (30, 5901)